@model SocialsHub.Core.ViewModels.LinksViewModel

@{
    string name = ViewBag.Name;
}
<div class="container" style="margin-top: 20px;">
    Take your link and use it: <a href="@Url.Page(name)"><strong style="color:cornflowerblue">@Url.Page(name)</strong></a>
    <div class="d-flex d-xl-inline-flex">
        <img src="/images/logo.jpg" width="14%" style="margin-top: 10px;" alt="Alternate Text" />
        <p class="p-5">
            @User.Identity.Name
        </p>
      
    </div>
  


    <div>
        @await Html.PartialAsync("_LinksTable", Model.Links)
    </div>

</div>

